<% include ../partials/boilerplate %>
    <div class="form-page">
        <div class="add">
            <form method='POST' action='/auth/login'>
                <input name='username' type='text' placeholder='username' required />
                <input name='password' type='password' placeholder='password' required />
                <input type='submit' value='Log in!' />
            </form>
        </div>
        <br>
    </div>
    <% include ../partials/end %>