<% include ../partials/boilerplate %>

    <div class="form-page">
        <div class="add">
            <form method='POST' action='/auth/register'>
                <input name='username' type='text' placeholder='username' required /><br>
                <input name='email' type='email' placeholder='email' required /><br>
                <input name='password' type='password' placeholder='password' required /><br>
                <input name='firstname' type='text' placeholder='first name' required /><br>
                <input name='lastname' type='text' placeholder='last name' required /><br>
                <input type='submit' value='Register!' />
            </form>
        </div>
    </div>

    <% include ../partials/end %>