<header>
    <div class="logo">
        <img src="./img/GrowPokemon.png" width="400px"></div><br>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <div class="nav_link">Prepare</div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="nav_link">Practice</div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="nav_link">Persist</div>
                </a>
            </li>
        </ul>
    </nav>
</header>