<nav>
    <ul>
        <a class="linktosingle" href="/pokemons">
            <li>
                <div class="nav_link">
                    Pokédex <br>
                    <img src="/img/pokedex.png" width="65px">
                </div>
            </li>
        </a>
        <a href="/">
            <li>
                <div class="nav_link">
                    <img src="/img/pokeball.png" width="60px"><br>
                    <span id="timer"> Battle Timer </span>
                </div>
            </li>
        </a>
        <a href="/">
            <li>
                <div class="nav_link">
                    Backpack <br>
                    <img src="/img/backpack.png" width="35px">
                </div>
            </li>
        </a>
    </ul>
    <br>
</nav>