<% include ../partials/boilerplate %>
    <% include ../auth/login %>
        <br>
        <img src='/img/newborn.png' width="300px">
        <div class="new-page">
            <div class="add">
                <form action="/pokemons" id="pokemonform" method="POST"><br>
                    <input type="text" name="name" placeholder="Name your pokemon" /><br>
                    <input type="text" name="skill" placeholder="Skill to master" /><br>
                    <select name="type" form="pokemonform">
                            <option value="bulbasaur">Bulabsaur</option>
                            <option value="squirtle">Squirtle</option>
                            <option value="charmander">Charmander</option>
                            <option value="pikachu">Pikachu</option>
                    </select>
                    <input type="hidden" name="birthday" value="<%= new Date(); %>" />
                    <input type="submit" value="Add it!" /><br>
                </form>
            </div>

            <a href="/pokemons">Back to all pokemon</a><br>

        </div>
        <nav>
            <% include ../partials/nav %>
        </nav>
        <% include ../partials/end %>