<% include ./partials/boilerplate %>
    <% include ./auth/login %>
        <% include ./partials/nav %>

            <h1> Pokemon Grow </h1><br>
            <h2>The Pokemon Pomodoro Tracker:</h2>
            <p>to help you practice skills and master habits with adorable pals!</p>


            <% include ./partials/end %>