<% include ./partials/boilerplate %>
    <% include ./auth/login %>

        <div class="logo">
            <img src="./img/GrowPokemon.png" width="300px" /></div><br>
        </div>
        <img src="https://img00.deviantart.net/fe4c/i/2012/364/4/7/charmander_evolution_line___004__006__by_twixie09-d5pr1qi.png" width=" 320
0px " id="frontpage"> <br>
        <h1> Pokemon Pomodoro Tracker </h1>
        <h3> It takes 10,000 hours to master a skill...</h3>
        <p>Train to be your very best with a Pokemon sidekick!</p>
        <br>
        <nav>
            <% include ./partials/nav %>
        </nav>
        <% include ./partials/end %>