* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
    line-height: 1.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: radial-gradient(white, #d6ebf2)
}

h1 {
    color: #2a75bb;
}

h3 {
    color: red;
    font-size: 18px;
}

p {
    font-size: 18px;
    color: darkblue;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}


/* ===== Bottom Navigation Styling ===== */

nav ul {
    position: fixed;
    bottom: 0;
    padding-left: 1px;
    padding-right: 11px;
    display: flex;
    display: space-around;
    width: 100%;
    border-top: 2px solid #2a75bb;
    background: radial-gradient(lightyellow, #ffcb05, gold);
}

nav li {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a {
    flex: 1;
    text-decoration: none;
    color: #2a75bb;
    font-weight: 900;
    font-size: 0.8em;
    border-radius: 8px;
}

nav a:hover {
    color: red;
    border-radius: 25px;
    border: 2px dotted white;
}

nav a:active {
    border-radius: 27px;
    border: 4px dotted white;
}

.nav_link {
    align-content: center;
}

#timer {
    font-size: 1.3em;
}


/* ===== Top Login Form Styling ===== */

.form-page {
    background: linear-gradient( green, #006400, green);
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-right: -50px;
}

form input {
    font-size: 1em;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}

.add a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 8px;
}

.add a:hover {
    color: yellow;
}

.button {
    border: 1px dotted gray;
    margin: 5px;
    background: radial-gradient(red, darkred);
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.button:hover {
    background: radial-gradient(darkred, red);
}

.button:active {
    border-radius: 12px;
}

#hello {
    margin-left: -150px;
    color: gold;
    font-size: 18px;
}

.button_logout {
    margin-bottom: -20px;
    border: 1px dotted gray;
    background: radial-gradient(red, darkred);
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.button_logout:hover {
    margin-bottom: -20px;
    background: radial-gradient(darkred, red);
}

.button_logout:active {
    margin-bottom: -20px;
    border-radius: 12px;
}


/* ===== Pokemon Grow Logo ===== */

.logo img {
    margin-top: 15px;
}

#frontpage {
    margin-top: -20px;
}


/* ===== Pokemons Index ===== */

.title {
    font-weight: 700;
    font-size: 18px;
    color: green;
}

.name {
    font-size: 32px;
}

.show_links {
    display: flex;
    display: space-around;
}

.show_links a {
    flex: 1;
}


/* ===== Pokeball Pomodoro ===== */

@-webkit-keyframes spinning {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

#pokeball-container {
    width: 15em;
    height: 15em;
    margin: 20px auto;
    -webkit-animation: spinning 60s linear infinite;
    background-image: url('/img/pokeball.png');
    background-size: 15em 15em;
}

#clock h1 {
    font-size: 34px;
    color: red;
}

#time {
    font-size: 25px;
    color: black;
}