<% include ../partials/boilerplate %>
    <% include ../auth/login %>
        <div id="moving-container">
            <div id="pokeball-container">
                <!-- pokeball -->
                <div id="pokeball">
                    <div class="pokeball-details"></div>
                </div>
            </div>
        </div>
        </div>
        <center>
            <div id="clock">
                <h1>Pomodoro Timer:</h1>
                <h2 id="time"></h2>
            </div>
        </center>

        <nav>
            <% include ../partials/nav %>
        </nav>
        <% include ../partials/end %>